cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cycler==0.11.0
easydict==1.9
filelock==3.4.2
fire==0.4.0
flatbuffers==2.0
fonttools==4.28.5
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
imutils==0.5.4
matplotlib==3.5.1
onnx==1.11.0
onnxruntime==1.11.0
opencv-python==4.5.5.62
packaging==21.3
pandas==1.3.5
Pillow==8.4.0
protobuf==3.19.1
psutil==5.9.0
pytz==2021.3
PyYAML==6.0
pyzmq==19.0.2
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
setproctitle==1.2.2
tabulate==0.8.9
termcolor==1.1.0
terminaltables==3.1.10
thop==0.0.31.post2005241907
timm==0.4.12
tokenizers==0.11.1
torch==1.10.1
torchmetrics==0.6.2
torchvision==0.11.2
tqdm==4.62.3
urllib3==1.26.7
wandb==0.12.11
zipp==3.7.0
